{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'home' %}'">
            <span aria-hidden="true">&times;</span>
        </button>

{#        <div><h3 class="text-center falkov-dialog-head_text">{% trans "Sign Out" %}</h3></div>#}

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}

            {% for error_message in form.non_field_errors %}
                <h5 class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</h5>
            {% endfor %}

            <div>
                <h5 class="text-center">Пользователь "{{ user }}"</h5>
                <h5 class="text-center">{% trans "Are you sure you want to sign out?" %}</h5>
            </div>

            <br>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="text-center">
                <button style="width: 220px" class='btn blue-gradient btn-rounded' type="submit">{% trans "Sign Out" %}</button>
            </div>
        </form>
    </div>
{% endblock content %}

{#{% extends "account/base.html" %}#}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Sign Out" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<h1>{% trans "Sign Out" %}</h1>#}
{##}
{#<p>{% trans 'Are you sure you want to sign out?' %}</p>#}
{#<form method="post" action="{% url 'account_logout' %}">#}
{#  {% csrf_token %}#}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#  {% endif %}#}
{#  <button type="submit">{% trans 'Sign Out' %}</button>#}
{#</form>#}
{#{% endblock %}#}