{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% load account %}

{#{% block head_title %}{% trans "Password Reset" %}{% endblock %}#}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'home' %}'">
            <span aria-hidden="true">&times;</span>
        </button>

        <div>
            <h3 class="text-center falkov-dialog-head_text">{% trans "Password Reset" %}</h3>
        </div>
        <hr>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-center">
            {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
    </div>
{% endblock %}
