{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'home' %}'">
            <span aria-hidden="true">&times;</span>
        </button>

        <div>
            <h3 class="text-center falkov-dialog-head_text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
        </div>


        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <label for="{{ form.password1.id_for_label }}">Новый пароль</label>
                        <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" required="" class="form-control">
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <label for="{{ form.password2.id_for_label }}">Новый пароль (еще раз)</label>
                        <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" required="" class="form-control">
                    </div>

                    <br>

                    <div class="text-center">
                        <button style="width: 220px" class='btn blue-gradient btn-rounded' type="submit" name="action">{% trans "change password" %}</button>
                    </div>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
     </div>
{% endblock content%}


{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>#}
{##}
{#    {% if token_fail %}#}
{#        {% url 'account_reset_password' as passwd_reset_url %}#}
{#        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>#}
{#    {% else %}#}
{#        {% if form %}#}
{#            <form method="POST" action="{{ action_url }}">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <input type="submit" name="action" value="{% trans 'change password' %}"/>#}
{#            </form>#}
{#        {% else %}#}
{#            <p>{% trans 'Your password is now changed.' %}</p>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#{% endblock %}#}
