{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% block content %}
    <div class="col-5 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">
        <div>
            <h3 class="text-center _text-shadow">{% trans "Change Password" %}</h3>
        </div>
        <hr>
        <p class="text-center">{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock content%}

{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% trans "Change Password" %}</h1>#}
{#    <p>{% trans 'Your password is now changed.' %}</p>#}
{#{% endblock %}#}
