{% extends 'account/my_allauth_templates/_my_account_base.html' %}

{% load i18n %}
{% load account %}

{#{% block head_title %}{% trans "Password Reset" %}{% endblock %}#}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'home' %}'">
            <span aria-hidden="true">&times;</span>
        </button>

        <div>
            <h3 class="text-center falkov-dialog-head_text">{% trans "Password Reset" %}</h3>
        </div>

        <hr>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            {% for error_message in form.non_field_errors %}
                <h5 class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</h5>
            {% endfor %}

            {% for error_message in form.email.errors %}
                <p class="text-center text-danger">{{ error_message|lower }}</p>
            {% endfor %}

            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <label for="{{ form.email.id_for_label }}">E-mail адрес</label>
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" required="" class="form-control">
            </div>

            <div class="text-center">
                <button style="width: 240px" class='btn blue-gradient btn-rounded' type="submit" >{% trans "Reset My Password" %}</button>
            </div>

    {#        <input type="submit" value="{% trans 'Reset My Password' %}" />#}
        </form>
        <br>
        <p class="text-center font-small">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
