{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <div>
            <h3 class="text-center _text-shadow">{% trans "Sign Up" %}</h3>
        </div>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% for error_message in form.non_field_errors %}
                <h5 class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</h5>
            {% endfor %}

            {% for error_message in form.username.errors %}
                <p class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</p>
            {% endfor %}
            {% for error_message in form.email.errors %}
                <p class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</p>
            {% endfor %}
            {% for error_message in form.password1.errors %}
                <p class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</p>
            {% endfor %}
            {% for error_message in form.password2.errors %}
                <p class="text-center text-danger">{{ error_message|slice:":-1"|lower }}</p>
            {% endfor %}

            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" minlength="1" maxlength="150" required="" class="form-control">
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <label for="{{ form.email.id_for_label }}">E-mail адрес</label>
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" required="" class="form-control">
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
                <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" required="" class="form-control">
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <label for="{{ form.password2.id_for_label }}">Пароль (еще раз)</label>
                <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" required="" class="form-control">
            </div>

            <br>

            <div class="text-center">
                <button style="width: 220px" class='btn blue-gradient btn-rounded' type="submit">Зарегистрироваться</button>
            </div>

            <br>

            <p class="text-center font-small">
                {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            </p>
        </form>
    </div>
{% endblock content %}

{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{##}
{#{% block head_title %}{% trans "Signup" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<h1>{% trans "Sign Up" %}</h1>#}
{##}
{#<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>#}
{##}
{#<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{#  <button type="submit">{% trans "Sign Up" %} &raquo;</button>#}
{#</form>#}
{##}
{#{% endblock %}#}
