{% extends 'account/my_allauth_templates/_my_account_base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="col-6 z-depth-2 lime lighten-5 rounded animated fadeIn" style="padding: 40px">

        <div>
            <h3 class="text-center falkov-dialog-head_text">{% trans "Verify Your E-mail Address" %}</h3>
        </div>

        <p class="text-center">
            {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
    </div>
{% endblock content%}
